@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html{
   scroll-behavior: smooth;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  }
  
  .navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #222222;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  
  .nav-link{
      color: #fff;
  }
  .nav-link:hover {
      border-bottom: .2rem solid rgb(6, 158, 6) ;
    color: rgb(6, 158, 6);
  }
  
  
  
  .open .nav-list {
    transform: translateX(0);
  }
  
  .menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
    margin-right: 3rem;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
  }
  
  .hamburger::before {
    transform: translateY(-8px);
  }
  
  .hamburger::after {
    transform: translateY(8px);
  }

  .open .hamburger {
    background: transparent;
  }
  
  .open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
  }
  
  .open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
  }
.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mid img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mid .hero{
    position: relative;
}
.mid .hero h2{
    font-weight: 700;
}
.mid .hero p{
    letter-spacing: 0.2rem;
    width: 55%;
    font-size: 1rem;
    padding-bottom:1rem ;
}
.mid .hero a{
    background-color: rgb(50, 146, 50);
    font-weight: 700;
    padding: .4rem 1.4rem;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
}
.mid .hero a:hover{
    background-color: #fff;
 
}
.about{
    background-color: rgba(157, 231, 157, 0.562);
   
}
.about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.about .text h6{
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(6, 122, 6);
}
.about .text h2{
    font-size: 1.7rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
}
.about .text p{
    font-size: 1.1rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
    letter-spacing: .02rem;
    margin-bottom: 1.5rem;
}
.about .text a{
    background-color: rgb(116, 241, 116);
    font-weight: 700;
    padding: .4rem 1.4rem;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
    color: #000;
}
.about .text a:hover{
    background-color: #000;
    color: #fff;
}

.discovery .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.discovery .text h6{
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(6, 122, 6);
}
.discovery .text h2{
    font-size: 1.7rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
}
.discovery .text p{
    font-size: 1.1rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
    letter-spacing: .02rem;
    margin-bottom: 1.5rem;
}
.discovery .text a{
    background-color: rgb(116, 241, 116);
    font-weight: 700;
    padding: .4rem 1.4rem;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
    color: #000;

}
.discovery .text a:hover{
    background-color: #000;
    color: #fff;
}
.service{
    background-color: #000;
}
.service .one{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: .8rem;
}
.service .one h5{
    font-weight: 700;
}



.sign-up .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.sign-up .text h6{
    letter-spacing: .2rem;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(6, 122, 6);
}
.sign-up .text h2{
    font-size: 1.7rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
}
.sign-up .text p{
    font-size: 1.1rem;
    font-weight: 800;
    color: rgba(6, 7, 6, 0.897);
    letter-spacing: .02rem;
    margin-bottom: 1.5rem;
}
.sign-up .text a{
    background-color: rgb(116, 241, 116);
    font-weight: 700;
    padding: .4rem 1.4rem;
    border-radius: 3rem;
    border: none;
    text-decoration: none;
    color: #000;
}
.sign-up .text a:hover{
    background-color: #000;
    color: #fff;
}
body > footer{
    background-color: #000 !important;
}
body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a{
    background-color: rgb(116, 241, 116);
    font-weight: 700;
    padding: .4rem 1.4rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    color: #000;
}



@media screen and (min-width: 769px) {
    .nav-list {
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
    }
    .nav-link {
      margin-left: 4rem;
      font-size: 1.6rem;
      transition: all 0.1s;
    }
    .menu-toggle {
      display: none;
    }
  }

@media only screen and (max-width: 600px) {
   .mid{
        background:linear-gradient(to top,rgba(1, 94, 1, 0.733),rgb(22, 175, 22),rgba(23,249,23, 0.733));
    }
    body > header > .mid > .hero > .display-4{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    body > header > .mid > .hero > p{
        font-size: .6rem;
    }
   
}
